@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./assets/pexels-codioful-7134981.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-size: small;

}


